name: Generate Documentation

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  generate-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: docgen prepare
        run: mkdir -p doc
      - name: Generate Doxygen Documentation
        uses: mattnotmitt/doxygen-action@v1.12.0
        with:
          doxyfile-path: './Doxyfile'

      - name: Upload Documentation
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: doc

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/html/
